body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

#videoPlayerContainer {
    margin-top: 20px;
}

#videoList {
    list-style: none;
    padding: 0;
}

#videoList li {
    margin: 10px;
    cursor: pointer;
}
